name: Continuous Integration
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  # See: https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
  push:
    branches:
      - master*
  pull_request:
    branches:
      - master*

jobs:
  build:
    name: Full Build (Node ${{ matrix.node_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [20.x, 22.x, 24.x]
      # https://stackoverflow.com/questions/61070925/github-actions-disable-auto-cancel-when-job-fails
      fail-fast: false

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run ci
