name: Lint Commit Messages
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  # See: https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: wagoid/commitlint-github-action@v6
        with:
          # https://github.com/wagoid/commitlint-github-action?tab=readme-ov-file#commitdepth
          commitDepth: '1'