name: Lint Commit Messages
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  # See: https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6
        with:
          # https://github.com/wagoid/commitlint-github-action?tab=readme-ov-file#commitdepth
          commitDepth: '1'