name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  # https://github.com/orgs/community/discussions/68252
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          # This `registry-url` resolves an issue with lerna publishing:
          # ```
          #    lerna ERR! E404 Not found
          #    lerna ERR! errno "undefined" is not a valid exit code - exiting with code 1
          # ```
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run ci

      - name: Publish to NPM
        run: npm run release:publish

      - name: Generate Last Version (only) Changelog
        run: node ./scripts/extract-last-ver-changelog.mjs

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: last-ver-changelog.txt
